body {
    /*background-color: rgb(235, 235, 235);*/
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    padding: 0;
    margin: 0;
}

.match {
    display: flex;
}

.logo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.user {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.header .left {
    padding: 5px 20px;
}

.header .right {
    padding: 5px 20px;
    text-align: right;
}

h1 {
    text-align: center;
    color: black;
    margin: 0;
    padding: 30px;
    border: 0;
}

.selection {
    display: flex;
    background: brown;
}

.window {
    display: flex;
    border-color: black;
    border: 3px;
}