body {
    /*background-color: rgb(235, 235, 235);*/
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .left {
    width: 300px;
    background-color: rgb(119, 119, 119);
    padding: 15px;
}

.header .right {
    width: 300px;
    text-align: right;
    padding: 15px;
    background-color: rgb(119, 119, 119);
}

h1 {
    text-align: center;
    color: black;
    margin: 0;
    padding: 30px;
    border: 0;
}